{% extends '_base.html' %}

{% block title %}Blog list{% endblock title %}


{% block content %}
<h1>Блоги</h1>
<div class="blog-search">
    <form action="" method="GET">
        <label>Блог</label>
        <input type="text" name="q" class="form-control" placeholder="Название" value="{{q}}">
        <label>Создатель</label>
        <input type="text" name="q_user" class="form-control" placeholder="Имя" value="{{q_user}}">
        <button class="btn btn-primary btn-submit" type="submit">Поиск</button>
    </form>
</div>
<ul class="list-group list-group-flush">
    {% for b in blogs %}
    <li class="list-group-item">{{b.title}} {{b.get_category_display}}</li>
    {% endfor %}
</ul>
<a class="btn btn-primary" href="?ordering={{ordering}}&page={{blogs.number}}&q={{q}}&q_user={{q_user}}">Сортировка</a>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if blogs.has_previous %}
        <li class="page-item">
            <a href="?page={{blogs.previous_page_number}}&ordering={{ordering}}&q={{q}}&q_user={{q_user}}"
                class="page-link"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled"><span aria-hidden="true">&laquo;</span></a>
            </li>
        {% endif %}

        {% for i in blogs.paginator.page_range %}
            {% if blogs.number == i %}
                <li class="page-item active">
                    <a href="#" class="page-link">{{i}}</a>
                </li>
            {% else %}
            <li class="page-item">
                <a href="?page={{i}}&ordering={{ordering}}&q={{q}}&q_user={{q_user}}" class="page-link">{{i}}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if blogs.has_next %}
            <li class="page-item">
                <a class="page-link"
                href="?page={{blogs.next_page_number}}&ordering={{ordering}}&q={{q}}&q_user={{q_user}}"><span
                aria-hidden="true">&raquo;</span></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}