{% extends '_base.html' %}
{% load widget_tweaks %}


{% block title %}Login in{% endblock title %}
    

{% block content %}
<h3>
    Log in
</h3>    
<form class="user-form" action="" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <p>{{form.errors}}</p>
    {% endif %}
    <label class="form-label">Username</label>
    {% render_field form.username class="form-control form-field" placeholder="Enter the username"%}
    <label class="form-label">Password</label>
    {% render_field form.password class="form-control form-field" placeholder="Enter the password"%}
    <button class="btn btn-primary user-btn" type="submit">
        Log in
    </button>
</form> 
{% endblock content %}
    