* {
    margin: 0;
    padding: 0;
}

.user-ctrl-btn {
    margin-right: 10px;
}
.user-name {
    margin-right: 10px;
    background-color:   #eaeaea  ;
    border: solid  #eaeaea  2px;
}
.user-btn {
    margin-top: 10px;
}
.user-form {
    width: 15em;
}
.blog-search {
    /* width: 30em; */
    margin-bottom: 20px;
    display: flex;

}
.btn-submit {
    margin-top: 10px;
}
div .pagination {
    margin-top: 10px;

}
.page-items {
    display: flex;
}
.list-group {
    width: 30em;
}